php_value auto_prepend_file /opt/lampp/htdocs/simple-php-mvcr-framework/system/autoload.php
RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]